:root {
    --primary-color: #e87ca7;
    --secondary-color: #f9f3f5;
    --accent-color: #ffccda;
    --text-color: #333;
    --button-hover-color: #b56180;
    --white: #fff;
}
@media (max-width: 768px) {
    header {
        padding: 1rem;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .container, .galeria, .Turno, footer {
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
    }

    .service-card {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
    }

    .modal-content {
        width: 90%;
        padding: 1.5rem;
    }

    .galeria img {
        max-width: 100px;
    }

    .horario {
        font-size: 1rem;
    }
}
body {
    background: linear-gradient(to bottom right, var(--secondary-color), #f2e5ea);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom right, rgba(232, 124, 167, 0.9), rgba(255, 204, 218, 0.9)), url('imagenes/Logo.jpg') center/cover no-repeat;
    color: var(--white);
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 8px solid var(--primary-color);
    position: relative;
    width: 100%;
    border-radius: 0 0 25px 25px;
    font-family: 'Arial', sans-serif;
}

header h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    font-weight: 700;
}

header p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    header {
        padding: 2rem 1rem;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }
}

section {
    width: 90%;
    max-width: 1000px;
    background-color: var(--white);
    border-radius: 15px;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
}

p, ul {
    font-size: 1rem;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: var(--button-hover-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    width: 100%;
}

.Turno {
    text-align: center;
    margin-top: 2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
    justify-content: center;
    align-items: center;
}
#horarios {
    background-color: rgba(248, 240, 243, 0.9);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#horarios h2 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
}

#horarios p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.horarios-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.horario-dia {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.horario-dia p {
    margin: 0;
    font-size: 1.1rem;
    color: #555;
}

.horario-dia p strong {
    color: var(--primary-color);
    font-weight: bold;
}

.horario-dia::before {
    content: "🕒";
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-right: 0.5rem;
}
.modal-content {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
}

.modal-content label {
    font-weight: bold;
    margin-top: 1rem;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.modal-content .button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content .button:hover {
    background-color: var(--button-hover-color);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: #888;
    cursor: pointer;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.galeria img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    object-fit: cover;

}

.galeria img:hover {
    transform: scale(1.05);
}
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas si no hay suficiente espacio */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 1rem; /* Espacio entre las tarjetas */
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

.service-card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
    max-width: 300px;
    flex: 1 1 250px; /* Permite ajustar las tarjetas a la vista en filas */
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card h3 {
    color: var(--primary-color);
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.service-card p {
    margin: 0.5rem 0;
}
.sobre-nosotros {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.sobre-nosotros h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.sobre-contenido p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin: 1rem 0;
}
